:root{
    --blue:rgb(47, 50, 233);
    --image:none
  }
  body{
      min-height: 100vh;
      height:auto;
      background: linear-gradient(145deg,aqua,rgb(192, 192, 235),aqua);
  }
  *{
      margin:0;
      padding:0;
      box-sizing: border-box;
      font-family:Roboto;
  }
  img{
      height:100%;
      width:100%;
      border-radius:50%;
  }
  a{
      text-decoration: none;
      color:black
  }
  .white-anchor{
      text-decoration:none;
      color:white;
  }
  .blue-anchor{
      text-decoration: none;
      color:rgb(0, 102, 255)
  }
  #nav-control{
      position: fixed;
      bottom:0;
      width:100vw;
      display:flex;
      justify-content:center;
  }
  #down-nav-bar{
      width:95vw;
      display:flex;
      justify-content: space-between;
      margin:3vw;
      
  }
  .bottom-nav>i{
      font-size:1.7rem
  }

  #notification-count{
      color:white;
      font-size:0.9rem;
      position: relative;
      padding:6px;
      background-color: red;
      border-radius: 50%;
      bottom:20px;
  }
  #search{
      display:block;
  }
  #search-top,#recent-top{
      display:flex;
      height:auto; 
      align-items: center;
      background-color: white;
      padding-top:2px;
  }
  #search-imgdiv{
      width:45px;
      height:45px;
      background-color: var(--image);
      border-radius:50%;
  }
  #search-room-form{
      margin:auto;
  }
  #search-room-form>input{
      font-size:1.3rem;
      font-weight:bold;
      padding:2px 2px 2px 5px;
      color:rgb(65, 65, 65);
      border-radius:8px;
      width:60vw;
      border:2px solid grey
  }
  
  #room-top{
      display:flex;
      padding-left:5px;
      align-items: center;
  }
  #room-list-div{
      /* background-color:#f1eabc; */
      color:rgb(34, 11, 11)
  }
  #room-rocket-top{
      display:flex;
      width:100%;
      justify-content: center;    
  }
  #room-top{
      background-color: white;
      padding-top:3px;
  }
  #room-rocket{
      position: relative;
      right:5vw;
      color:var(--blue);
      font-size:1.7rem;
  }
  #room-info{
      margin-top:10px;
      margin-bottom: 10px;
      text-align: center;
      font-weight: bolder;
  }
  .room-create{
      background-color: var(--blue);
      height:65px;
      width:65px;
      border-radius:50%;
      display:flex;
      justify-content: center;
      align-items: center;
      color:white;
      font-size:2rem;
      position: fixed;
      bottom:95px;
      right:20px;
   
  }
  .room-items{
      display:flex;
  
  }
  .room-item-style{
      width:3px;
      height:auto;
      margin-left:5px;
      background-color: grey;
  }
  .room-item-main{
      margin-left:10px;
      margin-right:5px;
      background:linear-gradient(120deg,rgba(0, 1, 2, 0.377),rgba(233, 60, 89, 0.377));
      width:100%;
      border-radius: 6px;
      box-shadow: 4px 4px 5px black;
  }
  .room-item-top{
      display:flex;
  }
  .room-item-top-left{
      display:flex;
      align-items: center;
  }
  .room-item-host{
      margin-left:5px;
  }
  .room-item-image-div{
      height:45px;
      width:45px;
      border-radius: 50%;
      background-color: var(--image);
  }
  .room-item-message-count{
      margin-left:18vw;
  }
  .room-item-title{
      display: flex;
      padding:5px;
      min-height:70px;
      height:auto;
      background-color:none;
      font-size:16px;
      background-color:rgba(29, 77, 165, 0);
      color:rgb(34, 11, 11);
      font-weight: bolder;
      border:none;
      text-align:left;
      width:100%;
  }
  .room-link{
      text-decoration:none;
  }
  .room-item-divide{
      height:3px;
      margin-top:5px;
      border-radius:7px;
      margin-bottom:6px;
      background-color:grey
  }
  .room-item-bottom{
      display: flex;
      padding:1px 5px 5px 2px;
      justify-content:space-between;
  }
  .room-item-topic{
      background-color: var(--blue);
      padding:2px 5px 2px 5px;
      border-radius: 6px;
  }
  .room-item-create-time{
      text-align:right;
  }
  .room-item-participants{
      display:flex;
  }
  .room-item-margin{
      height:3px;
      background-color:var(--blue);
      border-radius: 6px;
      margin:25px 5px;
  }
  .room-item-images{
      height:45px;
      width:45px;
      border-radius: 50%;
      background-color: var(--image);
  }
#to-home{
    border:none;
    background-color: transparent;
    font-size:1.3rem;
    margin-left:15px;
    margin-right: 5px;
}
#zeroo-div{
    height:100vh;
    width:100vw;
    display:flex;
    justify-content: center;
    align-items: center;
}
#zeroo-div>h1{
    text-align:center;
}